@import "tailwindcss";

/* Global Style */
.btn-style {
    margin: 0 0.5rem;
    border: 1px solid black;
    padding: 0.05em 0.5rem;
    background-color: #000;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

.btn-style:hover {
    background-color: #fff;
    color: black;
}

h1 {
    font-size: 36px;
    margin: 10px;
}


